// colors
$blue: #0070f3;
$black: #000;
$gray: #434343;
$gray-light: #575757;
$white: #fff;
$gray-border: #eee;

// fonts
$font-main: 'Epilogue', Arial, sans-serif;
$font-second: 'Rethink Sans', Arial, sans-serif;

